img{
    width: 200px;
    height: 200px;
}

.articulos{
    display: inline-block;
    position: relative;
    width: 230px;
    height: 360px;
    margin: 5px;
    padding: 20px;
    border: 1px solid #c0bfbf;
    border-radius: 5px ;
    background-color: #c4caff;
}

.barra-superior{
    display: block;
    background-color: #c0bfbf;
    width: auto;
    height: 65px;
    margin-bottom: 15px;
}

.btn-cerrar-sesion{
    display: inline-block;

}

.borde-inferior{
    border-bottom: 1px solid #c0bfbf;
}

.titulo{
    background-color: #c4caff;
    padding: 10px;
}

h1{
    font-family: 'Pacifico', cursive;
}

.mensaje-usuario{
    background-color: #c4caff;
    padding: 10px;
}
.nombre-bebe{
    color: #5a5a5a;
}

.titulo-babyshower{
    color: #0069D9;
}