img{
    width: 200px;
    height: 200px;
}

.articulos{
    display: inline-block;
    position: relative;
    width: 200px;
    height: auto;
    margin: 5px;
    border: 1px solid #c0bfbf;
    padding-bottom: 10px;
    background-color: #c4caff;
}

.articulos2{
    display: inline-block;
    position: relative;
    width: 200px;
    height: auto;
    margin: 5px;
    border: 1px solid #c0bfbf;
    padding-bottom: 10px;
    background-color: #E6E6E6;
}

.barra-superior{
    display: block;
    background-color: #c0bfbf;
    width: auto;
    height: 65px;
    margin-bottom: 15px;
}

.btn-cerrar-sesion{
    display: inline-block;

}

.borde-inferior{
    border-bottom: 1px solid #e9e7e7;
}

.borde-superior{
    border-top: 1px solid #e9e7e7;
}

.titulo{
    position: sticky;
    top: 0px;
    background-color: #c4caff;
    padding-top: 5px;
    z-index: 2;
    border-bottom: 1px solid #818181;
}
.titulo-babyshower{
    color: #0069D9;
    background-color: #c4caff;
    height: 70px;
}

h1{
    font-family: 'Pacifico', cursive;
}

.mensaje-usuario{
    background-color: #c4caff;
    padding: 10px;
}
.nombre-bebe{
    position: relative;
    color: #5a5a5a;
    bottom: 10px;
}


.countdown{
    display: inline; 
    font-family: cursive;
    color: #0069D9;
    font-size: 1.5rem;
}

.titulo-countdown{
    background-color: #c4caff;
}

.inferior{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

