.fondo-base{
    background-color:#318EFD ;
}

.fondo-base-2{
    background-color:#1c76e4 ;
}

.color-text-aux{
    color: #949292;
}

.posicion-aux{
    position: relative; 
    top: -2px;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}