img{
    max-width: 200px;
    height: 245px;
    text-align: center;
}

.div-img{
    text-align: center;
}

.articulo-no-seleccionado{
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    max-width: 220px;
    min-width: 220px;
    min-height: 280px;
    margin: 5px;
    padding-bottom: 10px;
    border: 1px solid #c0bfbf;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.articulo-seleccionado{
    display: inline-block;
    position: relative;
    width: 200px;
    height: auto;
    max-width: 220px;
    min-width: 220px;
    margin: 5px;
    padding-bottom: 10px;
    border: 1px solid #c0bfbf;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.articulo-eliminado{
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    max-width: 220px;
    min-width: 220px;
    min-height: 280px;
    margin: 5px;
    padding-bottom: 10px;
    border: 1px solid #c0bfbf;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.tarjetas{
    display: flex;
    float: left;
}
.div-iconos-eliminados{
    display: block;
    position: relative;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    background: rgb(255, 255, 255);
    padding-bottom: 5px;
    border-radius: 5px 5px 0 0;
    background-color: #e6e6e6;
}
.div-iconos{
    display: block;
    position: relative;
    height: 30px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background: rgb(255, 255, 255);
    padding-bottom: 5px;
    border-radius: 5px 5px 0 0;
    background-color: #e6e6e6;
}
.icono-izq{
    position: relative;
    float: left;
}
.icono-der{
    position: relative;
    float: right;
    background-color: rgb(226, 51, 51);
    color: #FFFFFF;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid red;
}

.icono-der-eliminados{
    position: relative;
    float: right;
    color: #FFFFFF;
    border-radius: 50%;
    padding: 3px;
    top: 4px;
    background-color: rgb(15, 121, 29);
}

.img-editar{
    position: relative;
    top: 5px;
    width: 250px;
    height: 250px;
}

.countdown{
    display: inline; 
    font-family: cursive;
    color: #0069D9;
    font-size: 1.5rem;
}

.img-articulo {
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
    max-height: 280px; /* Inicialmente, la altura es 0 */
}

.img-seleccionado{
    border: 1px solid #00d945;
    box-shadow: 0px 1px 10px 3px #00d945;
}